<div class="main__container">
  <div class="container">
    <div class="container__hero">
      <img alt="" src="assets/images/order-summary/illustration-hero.svg">
    </div>
    <div class="container__text-content">
      <h2 class="title">Order Summary</h2>
      <p class="subtitle">
        You can now listen to millions of songs, audiobooks, and podcasts on any
        device anywhere you like!
      </p>
      <div class="plan-box">
        <div class="plan-box__left">
          <img alt="" src="assets/images/order-summary/icon-music.svg">
          <div class="plan-box__details">
            <h5>Annual Plan</h5>
            <p>$59.99/year</p>
          </div>
        </div>
        <a class="plan-box__link">Change</a>
      </div>
      <a class="proceed-btn">Proceed to Payment</a>
      <a class="cancel-btn">Cancel Order</a>
    </div>
  </div>
</div>
