<div class="main__container">
  <div class="wrapper">
    <div *ngIf="!showThankYou" class="rating__container">
      <img src="assets/images/interactive-rating/icon-star.svg" />
      <h3>How did we do?</h3>
      <p>
        Please let us know how we did with your support request. All feedback is
        appreciated to help us improve our offering!
      </p>
      <ul>
        <li
          (click)="selectRating(num)"
          *ngFor="let num of ratings"
          [ngClass]="{ active: num === selectedRating }"
        >
          {{ num }}
        </li>
      </ul>
      <button (click)="submitRating()" class="submit__btn">SUBMIT</button>
    </div>
    <div *ngIf="showThankYou" class="result__container">
      <img class="thanks" src="assets/images/interactive-rating/illustration-thank-you.svg" />
      <div class="result">
        <p class="result__rating">You selected {{ selectedRating }} out of 5</p>
        <h3>Thank You!</h3>
        <p class="result__text">
          We appreciate you taking the time to give a rating. If you ever need
          more support, don’t hesitate to get in touch!
        </p>
      </div>
    </div>
  </div>
</div>
