<div class="main__container">

  <div class="accordion__card">
    <div class="images__container">
      <div class="image__inner"></div>
      <img alt="box-image" src="assets/images/accordion-card/illustration-box-desktop.svg"/>
    </div>
    <div class="accordion__container">
      <h3 class="accordion--heading">FAQ</h3>
      <ul>
        <li (click)="clickHandler(i)" *ngFor="let item of faq; let i = index" class="accordion__item">
          <ng-container *ngTemplateOutlet="accordionList__item; context: {$implicit: item, index: i}"></ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #accordionList__item let-index="index" let-item>
  <div class="accordion__header">
    <div class="accordion--question">
      <h4 [ngClass]="{'active--question':index == selectedItem }" >{{item.question}}</h4>
    </div>
    <div class="arrow--image">
      <img [ngClass]="{'active--arrow' : index == selectedItem}"  alt="arrow-image" src="assets/images/accordion-card/icon-arrow-down.svg" />
    </div>
  </div>
  <h4 [ngClass]="{'active--answer': index == selectedItem}" class="accordion--answer">{{item.answer}}</h4>
</ng-template>
