<div class="main__container">
  <div class="card__container">
    <div class="card__image">
      <img alt="equilibrium-img" class="main__image" src="assets/images/nft-card/image-equilibrium.jpg">
      <div class="card__image--eye">
        <img alt="eye-icon" src="assets/images/nft-card/icon-view.svg">
      </div>
    </div>
    <h3>Equilibrium #3429</h3>
    <div class="card-desc">
      Our Equilibrium collection promotes balance and calm.
    </div>
    <div class="card__details">
      <div class="card___details--main">
        <div class="card__details--price">
          <img alt="eth-icon" src="assets/images/nft-card/icon-ethereum.svg"/>
          0.041 ETH
        </div>
        <div class="card__details--days">
          <img alt="clock-icon" src="assets/images/nft-card/icon-clock.svg"/>
          3 days left
        </div>
      </div>
      <div class="card__details--creator">
        <img alt="avatar-image" src="assets/images/nft-card/image-avatar.png"/>
        Creation of <span>Jules Wyvern</span>
      </div>
    </div>
  </div>
</div>
